.main-trades {
  align-items: flex-start;
  display: flex;
  width: 100%;

  .trades {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;

    table {
      width: 100%;

      th {
        cursor: pointer;
      }

      .float-right {
        float: right;
      }
    }

    .trade {
      display: flex;
      flex-direction: column;
      border: 2px solid grey;
      border-radius: 10px;
      height: 150px;
      padding: 10px;
      width: 100%;

      .name {
        align-self: center;
        font-size: 24px;
        font-weight: bold;
      }

      .field {
        display: flex;
        justify-content: space-between;

        .name {
          font-size: 12px;
        }

        .value {

        }
      }

    }
  }
}

.profit {
  color: green;
}

.profit::before {
  content: '+';
}

.loss {
  color: red;
}
